* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.navbar .nav-item {
  font-size: 16px;
}
.card {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 14px 12px grey;
  border-radius: 5px;
}
.card p {
  white-space: wrap;
  text-align: start;
}
