---
import LandingLayout from "../layouts/LandingLayout.astro";
import Spinner from "../components/Spinner.astro";
import ToTop from "../components/ToTop.astro";
import MyPosts from "../components/MyPosts";
---

<LandingLayout
  pageTitle="Latest News"
  pageDescription="Latest charlotte news, events, promotional offers, and tourism posts mostly promoting small local business."
  pageKeywords="Prestige Worldwide Limos latest posts, articles, news, promotional offers and events."
>
  <Spinner />
  <div
    class="container-fluid"
    style="margin-top:100px; min-height:100vh;z-index:-1;"
  >
    <div
      style="display:flex; flex-direction:column; justify-content:center; align-items: center; margin-bottom: 40px; text-center"
    >
      <h1 class="text-center" style="color:#FF4917">Latest News</h1>
      <p style="font-size: 14px;">
        <!-- Not sure where to go to, below we curated a list of all local events
          around you. -->
      </p>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item">
            <a class="text-black" href="/">Home</a>
          </li>
          <li class="breadcrumb-item text-black active" aria-current="page">
            Latest News
          </li>
        </ol>
      </nav>
    </div>

    <div class="container mx-auto">
      <MyPosts client:load />
    </div>
  </div>
  <ToTop />
</LandingLayout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 90px;
  }
</style>
