<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <!-- <h6 class="text-secondary text-uppercase">About Us</h6> -->
        <h1 class="mb-2">About Us - Prestige Worldwide Limos.</h1>
        <p class="mb-4">
          From milestone celebrations to everyday outings, we strive to create
          an elegant, relaxing, and enjoyable atmosphere. As a trusted
          transportation partner, we take pride in being part of your most
          special moments. Choose Prestige Worldwide Limos for an exceptional
          journey you'll never forget.
        </p>
        <p class="fw-medium text-primary">
          <i class="fa fa-check text-success me-3"></i>
          Licensed and Insured.
        </p>
        <p class="fw-medium text-primary">
          <i class="fa fa-check text-success me-3"></i>
          Modern and well maintained fleet
        </p>
        <p class="fw-medium text-primary">
          <i class="fa fa-check text-success me-3"></i>
          Group Disounts and Special Rates Available
        </p>
        <div class="bg-primary d-flex align-items-center p-4 mt-5">
          <div
            class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
            style="width: 60px; height: 60px;"
          >
            <i class="fa fa-phone-alt fa-2x text-primary"></i>
          </div>
          <div class="ms-3">
            <a href="tel:+1980-391-0979">
              <p class="fs-5 fw-medium mb-2 text-white">
                Get An Instant Free Quote
              </p>
              <h3 class="m-0 text-white">+1 980-391-0979</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pt-4" style="min-height: 500px;">
        <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="/assets/img/white-pearl-night-scene.webp"
            style="object-fit: cover; padding: 0 0 50px 100px;"
            alt=""
          />
          <img
            class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50"
            src="/assets/img/frankie2.webp"
            style="object-fit: cover;"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 50px;
  }
</style>
