---
import ContactForm from "./ContactForrm";
---

<!-- Booking Start -->
<div class="container-fluid my-5 px-0">
  <div class="video wow fadeInUp" data-wow-delay="0.1s">
    <button
      type="button"
      class="btn-play"
      data-bs-toggle="modal"
      data-src="/assets/videos/vid01.mp4"
      data-bs-target="#videoModal"
    >
      <img
        src="https://pixsector.com/cache/0d0aeff3/av63fa1d6082bbbeb54d8.png"
        alt="play button"
      />
    </button>

    <div
      class="modal fade"
      id="videoModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              White Pearl Party Bus
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- 16:9 aspect ratio -->
            <div class="ratio ratio-16x9">
              <iframe
                class="embed-responsive-item"
                src=""
                id="video"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-white mb-4">Have Questions ?</h1>
    <h3 class="text-white mb-0">
      <a href="tel:+1980-391-0979" class="text-white"
        >Call Now +1 980-391-0979</a
      >
    </h3>
  </div>
  <div
    class="container position-relative wow fadeInUp"
    data-wow-delay="0.1s"
    style="margin-top: -6rem;"
  >
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bg-light text-center p-5">
          <h1 class="mb-4">Need A Limo ?</h1>
          <!-- <h5 class="mb-4">Get A Free Instant Quote</h5> -->
          <!-- <form>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <input
                  type="text"
                  class="form-control border-0"
                  placeholder="Your Name"
                  style="height: 55px;"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="email"
                  class="form-control border-0"
                  placeholder="Your Email"
                  style="height: 55px;"
                />
              </div>
              <div class="col-12 col-sm-6">
                <select class="form-select border-0" style="height: 55px;">
                  <option selected>Select A Service</option>
                  <option value="1">Wedding Limo</option>
                  <option value="2">Bachalore/Bachalorette Party</option>
                  <option value="3">Prom Night Limo</option>
                  <option value="3">Wine Tour Limo</option>
                  <option value="3">Party Bus</option>
                  <option value="3">Black Pearl Party Bus</option>
                  <option value="3">White Pearl Party Bus</option>
                  <option value="3">Sprinter Van Limo</option>
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <div class="phone" id="phoneData" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control border-0"
                    placeholder="Phone Number"
                    data-target="#date1"
                    style="height: 55px;"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control border-0 datetimepicker-input"
                    placeholder="Service Date"
                    data-target="#date1"
                    data-toggle="datetimepicker"
                    style="height: 55px;"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <select class="form-select border-0" style="height: 55px;">
                  <option selected>Service Time</option>
                  <option value="0">08:00 AM</option>
                  <option value="1">09:00 AM</option>
                  <option value="2">10:00 AM</option>
                  <option value="3">11:00 AM</option>
                  <option value="3">12:00 PM</option>
                  <option value="3">01:00 PM</option>
                  <option value="3">02:00 PM</option>
                  <option value="3">03:00 PM</option>
                  <option value="3">04:00 PM</option>
                  <option value="3">05:00 PM</option>
                  <option value="3">06:00 PM</option>
                  <option value="3">07:00 PM</option>
                  <option value="3">08:00 PM</option>
                  <option value="3">09:00 PM</option>
                  <option value="3">10:00 PM</option>
                  <option value="3">11:00 PM</option>
                  <option value="3">12:00 AM</option>
                  <option value="3">01:00 AM</option>
                  <option value="3">02:00 AM</option>
                  <option value="3">03:00 AM</option>
                  <option value="3">04:00 AM</option>
                  <option value="3">05:00 AM</option>
                  <option value="3">06:00 AM</option>
                  <option value="3">07:00 AM</option>
                </select>
              </div>
              <div class="col-12">
                <textarea
                  class="form-control border-0"
                  style="height:200px"
                  placeholder="Please enter your starting address, destination address, and any special instructions or requests"
                ></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Get An Instant Quote
                </button>
              </div>
            </div>
          </form> -->
          <ContactForm client:load />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking End -->
