---
import { Image, Picture } from "@astrojs/image/components";
---

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/wedding-limo.webp"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <!-- <h5 class="text-white mb-3 animated slideInDown">
                Luxury Limo Near Charlotte NC.
              </h5> -->
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Flawless Charlotte Wedding Limo Service.
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Your dream wedding awaits with Prestige Worldwide Limos'
                exclusive Charlotte wedding limo service. Picture yourself
                stepping out of a luxurious limousine, turning heads as you make
                a grand entrance on your special day. Our top-of-the-line fleet
                and expert chauffeurs guarantee a smooth and stylish ride,
                adding that extra touch of elegance to your wedding celebration.
                Don't miss out on this unforgettable experience!
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/white-diamond-party-bus.webp"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <!-- <h5 class="text-white mb-3 animated slideInDown">
                Charlotte NC Party Like a Rock Star.
              </h5> -->
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Party Like RockStar in our Charlotte Party Bus
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Get ready to take your party to the next level with Prestige
                Worldwide Limos' premier Charlotte Party Bus service! Our
                incredible fleet of party buses is designed to make your
                celebration an absolute blast. Imagine dancing and mingling with
                your friends in a spacious, luxurious setting equipped with
                state-of-the-art amenities. Whether it's a birthday bash,
                bachelor/bachelorette party, or a night out with friends, our
                Charlotte Party Bus will turn heads and set the tone for an
                unforgettable time.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >More Details</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/wine-tour-limo.webp"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <!-- <h5 class="text-white mb-3 animated slideInDown">
                Charlotte NC Premiere Limo Service
              </h5> -->
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Discover Charlotte Wine Tour Limo!
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Discover the charm of Charlotte's wineries in comfort and style
                with our Wine Tour Limo service. Unwind and savor the beauty of
                local vineyards as we take care of your transportation needs.
                Our cozy and reliable limousines provide a smooth ride, allowing
                you to focus on the delightful wines and the company of your
                friends or loved ones. Whether you're planning a laid-back day
                out or celebrating a special occasion, our Wine Tour Limo is the
                perfect choice. Don't miss out on this wonderful experience.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/prom-limo-2.webp"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <!-- <h5 class="text-white mb-3 animated slideInDown">
                Safe To and From Prom Venue
              </h5> -->
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Safe and Memorable Charlotte Prom Limo Service!
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Let us be your trusted choice for a secure and enjoyable evening
                with our Charlotte Prom Limo services. Our top-of-the-line
                limousines are equipped with the latest safety features and
                maintained to the highest standards. You can count on our
                experienced chauffeurs to provide a safe and reliable journey,
                ensuring you and your friends arrive at your destination
                worry-free.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 90px;
  }
</style>
