---
import { Image, Picture } from "@astrojs/image/components";
import WeddingImage from "https://www.topnotchtransportation.com/wp-content/uploads/2015/04/wedding-limo-service-phoenix.jpg";
import PartyBusImage from "https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/elementor/thumbs/311575681_110909541798269_4426288902827383789_n-q1g6drb5du7zz3x50a7kbvx6y14zwf4ln2k0n255xc.jpg";
import BachalorePartyImage from "https://www.masterliveryservices.com/wp-content/uploads/2023/02/Party-Limousine-Service-Boston.jpg";
import PromNightImage from "https://lifestyle-limo.com/wp-content/uploads/2020/02/13131371_241915786197125_177412017485441316_o.jpg";
---

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="https://www.topnotchtransportation.com/wp-content/uploads/2015/04/wedding-limo-service-phoenix.jpg"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h5 class="text-white mb-3 animated slideInDown">
                Luxury Limo Near Charlotte NC.
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Searching For A Flawless Wedding Limo Service ?
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Make your special day even more extraordinary with our luxurious
                wedding limo services. Arrive in style, sophistication, and
                comfort to create unforgettable memories. Book now and let us be
                a part of your perfect wedding day.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/party-bus-green.jpg"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h5 class="text-white mb-3 animated slideInDown">
                Charlotte NC Party Like a Rock Star.
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Charlotte Summer Extravaganza! Party Bus
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Wanna have a great time, gather your friends this summer for a
                party on wheels! Our party buses are equipped with a mix of
                everything you need for a fantastic time. Enjoy a night to
                remember while our experienced driver drive you around the city
                reserve your party bus today.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >More Details</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="/assets/img/pink-charlotte.jpeg"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h5 class="text-white mb-3 animated slideInDown">
                Charlotte NC Premiere Limo Service
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Bachalore &amp; Bachalorette Party Limo Service
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Celebrate your last days of freedom in style with our exclusive
                bachelorette limo service. Gather your friends, sip champagne,
                and enjoy a safe, glamorous night on the town. Don't miss out on
                an unforgettable experience – book now.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative" style="height:85vh">
      <Picture
        src="https://lifestyle-limo.com/wp-content/uploads/2020/02/13131371_241915786197125_177412017485441316_o.jpg"
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        alt="descriptive text"
        aspectRatio="16:9"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h5 class="text-white mb-3 animated slideInDown">
                Safe To and From Prom Venue
              </h5>
              <h1 class="display-3 text-white animated slideInDown mb-4">
                Prom Night Limo Luxury
              </h1>
              <p class="fs-6 fw-small text-white mb-4 pb-2">
                Make your prom night truly magical with our stylish and
                sophisticated prom limo service. You and your friends will feel
                like Hollywood stars as you step out of our glamorous
                limousines. Don't wait – secure your prom night limo now.
              </p>
              <a
                href="/latest-news"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href="/reserve"
                class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                >Get A Free Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 90px;
  }
</style>
