<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5">
  <div class="container">
    <div class="row g-4">
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.1s"
      >
        <i class="fa fa-check fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">6</h2>
        <p class="text-white mb-0">Years Experience</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.3s"
      >
        <i class="fas fa-car-crash fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">0</h2>
        <p class="text-white mb-0">Accidents</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.5s"
      >
        <i class="fa fa-users fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">421</h2>
        <p class="text-white mb-0">Satisfied Clients</p>
      </div>
      <div
        class="col-md-6 col-lg-3 text-center wow fadeIn"
        data-wow-delay="0.7s"
      >
        <i class="fa fa-wrench fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">24</h2>
        <p class="text-white mb-0">Oil Changes</p>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->
