---
import NewsletterSignup from "../components/NewsletterSignup";

import "../styles/global.css";
---

<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer pt-5 mt-5"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Address</h4>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt"></i>
          Address: <br />1515 Spruce Lane Denver, NC 28037 USA
        </p>
        <p class="mb-2">
          <i class="fa fa-phone-alt"></i>
          <a href="tel:+1980-391-0979" class="text-white">+1 980-391-0979</a>
        </p>
        <p class="mb-2">
          <i class="fa fa-envelope"></i>
          <a
            style="color:#fff"
            href="mailto:frankie@prestigeworldwidelimos.com"
            target="_blank">Email</a
          >
        </p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i></a
          >
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i></a
          >
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i></a
          >
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i></a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Opening Hours</h4>
        <h6 class="text-light">Monday - Friday:</h6>
        <p class="mb-4">09.00 AM - 09.00 PM</p>
        <h6 class="text-light">Saturday - Sunday:</h6>
        <p class="mb-0">09.00 AM - 12.00 PM</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Services</h4>
        <a class="btn btn-link" href="">Wedding Limo Rentals</a>
        <a class="btn btn-link" href="">Bachalorette/Bachalore Parties</a>
        <a class="btn btn-link" href="">Charotte Party Bus</a>
        <a class="btn btn-link" href="">Corporate Limousine Service</a>
        <a class="btn btn-link" href="">Prom night Limo</a>
        <a class="btn btn-link" href="">Wine Tour Limo</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Newsletter</h4>
        <p>
          Sign-up for our newsletter to receive promotional offers and discount
          from Prestige Worldwide Limos.
        </p>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <NewsletterSignup client:load />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          2023 &copy; <a class="border-bottom" href="/"
            >Prestige Worldwide Limos</a
          >, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          Designed By
          <a
            class="border-bottom"
            href="https://beingmohamedhafez.com"
            target="_blank"
          >
            Blooming Brands
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
