<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/black-pearl.jpg"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Black Pearl Party Bus</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/white-tiger.jpg"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">White Pearl Party Bus</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/wine-tours.png"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Wine Tour Limo</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
