<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row">
      <center>
        <h1>Luxury Limo Near Charlotte, North Carolina</h1>
      </center>
      <p class="text-center" style="font-size: 16px;">
        Prestige Worldwide Limo Company is as close as a phone call. If you need
        professional transportation, wedding limousine, charter bus,<br /> group
        party bus, or just your standard stretch limo in or around Charlotte, NC
        give us a call today. We Proudly Serve the Following Cities: Charlotte, Ballantyne,
        Denver, Mooresville, Statesville, Kannapolis, Gastonia, Concord, and Matthews.
        In Gratitude to our law enforcement, military, and emergency workers we offer
        a special discounted rental rates call us for more information.
      </p>
    </div>
    <div class="row g-4" style="margin-top: 80px;">
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="/assets/img/white-stretch-limo.webp"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Wedding Limo</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="https://charlottecitylimo.com/wp-content/uploads/2023/04/white-tiger.jpg"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Charter Bus</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="/assets/img/tailgate-party.webp"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Charlotte Party Bus</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row g-4">
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="/assets/img/prom-night-limo.webp"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Prom Night Limo</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="/assets/img/blackCadi.webp"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Airport Limo</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 service-item-top wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="overflow-hidden">
          <img
            class="img-fluid w-100 h-100"
            src="https://charlottecitylimo.com/wp-content/uploads/2023/04/wine-tours.png"
            alt=""
          />
        </div>
        <div
          class="d-flex align-items-center justify-content-between bg-light p-4"
        >
          <h5 class="text-truncate me-3 mb-0">Wine Tours Limo</h5>
          <!-- <a
            class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"
            href=""><i class="fa fa-arrow-right"></i></a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
<style>
  .img-fluid {
    object-fit: cover !important;
  }
</style>
