<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
  <div class="row g-0">
    <div class="col-lg-3 d-none d-lg-flex">
      <div
        class="d-flex align-items-center justify-content-center bg-primary w-100 h-100"
      >
        <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">
          6 Years of Excellence
        </h1>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <div class="ms-lg-5 ps-lg-5">
        <div
          class="text-center text-lg-start wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <h6 class="text-secondary text-uppercase">Our Services</h6>
          <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div
          class="owl-carousel service-carousel position-relative wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="bg-light p-4">
            <div
              class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
              style="width: 75px; height: 75px;"
            >
              <i class="fa fa-water fa-2x text-primary"></i>
            </div>
            <h4 class="mb-3">Black Pearl Party Bus</h4>
            <p>Four hours minimum (Monday - Friday, and Sunday)</p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>
              Min 4 Hours.
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>
              Parking Included.
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>
              No Hidden Fees.
            </p>
            <a href="" class="btn bg-white text-primary w-100 mt-2"
              >Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a
            >
          </div>
          <div class="bg-light p-4">
            <div
              class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
              style="width: 75px; height: 75px;"
            >
              <i class="fa fa-toilet fa-2x text-primary"></i>
            </div>
            <h4 class="mb-3">Toilet Pipe Repair</h4>
            <p>
              Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem
              diam justo.
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Quality Service
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Customer Satisfaction
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Support 24/7
            </p>
            <a href="" class="btn bg-white text-primary w-100 mt-2"
              >Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a
            >
          </div>
          <div class="bg-light p-4">
            <div
              class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
              style="width: 75px; height: 75px;"
            >
              <i class="fa fa-shower fa-2x text-primary"></i>
            </div>
            <h4 class="mb-3">Sewer Line Repair</h4>
            <p>
              Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem
              diam justo.
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Quality Service
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Customer Satisfaction
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Support 24/7
            </p>
            <a href="" class="btn bg-white text-primary w-100 mt-2"
              >Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a
            >
          </div>
          <div class="bg-light p-4">
            <div
              class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
              style="width: 75px; height: 75px;"
            >
              <i class="fa fa-tint fa-2x text-primary"></i>
            </div>
            <h4 class="mb-3">Water Heater Repair</h4>
            <p>
              Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem
              diam justo.
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Quality Service
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Customer Satisfaction
            </p>
            <p class="text-primary fw-medium">
              <i class="fa fa-check text-success me-2"></i>Support 24/7
            </p>
            <a href="" class="btn bg-white text-primary w-100 mt-2"
              >Read More<i class="fa fa-arrow-right text-secondary ms-2"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
