<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
  <div class="row g-0">
    <div class="col-lg-3 d-none d-lg-flex">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <!-- <h5 class="display-3 text-white m-0" style="transform: rotate(-45deg);">
          FIVE STARS Experience
        </h5> -->
        <img src="/assets/img/frankie.jpg" width="500" alt="" />
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <div class="ms-lg-5 ps-lg-5">
        <div
          class="text-center text-lg-start wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <h6 class="text-secondary">
            Premiere Limo Service Near Charlotte NC
          </h6>
          <h1 class="mb-5">Southern Comfort Meets Style</h1>
        </div>
        <div
          class="owl-carousel service-carousel position-relative wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="card" style="width: 20rem; height:480px">
            <img
              class="card-img-top"
              src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/black-pearl.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Party Bus</h5>
              <p class="card-text">
                Holds up to 18 guests, group rates apply, minimum 4 hour
                engagement
              </p>
              <a href="/reserve" class="btn btn-primary">Reserve</a>
            </div>
          </div>
          <div class="card" style="width: 20rem; height:480px">
            <img
              class="card-img-top"
              src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/charlotte-wedding-limo.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Wedding Limo Service</h5>
              <p class="card-text">
                Let's us get you there on your special day. Competetive rates.
              </p>
              <a href="/reserve" class="btn btn-primary">Reserve</a>
            </div>
          </div>

          <div class="card" style="width: 20rem; height:480px">
            <img
              class="card-img-top"
              src="https://prestigeworldwidelimos.com/carolina-limo-rentals/wp-content/uploads/2023/04/wine-tours.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Wine Tours Limo</h5>
              <p class="card-text">
                Explore wineries that are the best in the nation.
              </p>
              <a href="/reserve" class="btn btn-primary">Reserve</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 50px;
  }
</style>
