---
---

<!-- Testimonial Start -->
<div id="reviews" class="d-block" style="min-height:100px"></div>
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h1 class="text-secondary text-uppercase">Our Client Reviews</h1>
      <h6 class="mb-5">
        Want to know what our customers raving about , read our real world
        limousine services customer reviews
      </h6>
    </div>
    <div
      class="owl-carousel testimonial-carousel position-relative wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="testimonial-item text-center">
        <div class="testimonial-text bg-light text-center p-4 mb-4">
          <p class="mb-0">
            Frankie made it a 10/10 experience. He was awesome to work with, all
            the "kids" just kept yelling "We Love You Frankie"!
          </p>
        </div>
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-2"
          src="/assets/img/testimonial-1.jpg"
          style="width: 80px; height: 80px;"
        />
        <div class="mb-2">
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
        </div>
        <h5 class="mb-1">Johanna Dicarlo</h5>
        <p class="m-0">Denver, NC</p>
      </div>
      <div class="testimonial-item text-center">
        <div class="testimonial-text bg-light text-center p-4 mb-4">
          <p class="mb-0">
            100% exceptional service! We had an amazing time and Frankie is top
            notch! We will be using Prestige for future events!.
          </p>
        </div>
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-2"
          src="/assets/img/testimonial-4.jpg"
          style="width: 80px; height: 80px;"
        />
        <div class="mb-2">
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
        </div>
        <h5 class="mb-1">Nancy Rodriguez</h5>
        <p class="m-0">Charlotte NC</p>
      </div>
      <div class="testimonial-item text-center">
        <div class="testimonial-text bg-light text-center p-4 mb-4">
          <p class="mb-0">
            Greet fleet of vehicles to choose from! We absolutely loved using
            their service around the holidays and will continue to use them.
          </p>
        </div>
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-2"
          src="/assets/img/testimonial-2.jpg"
          style="width: 80px; height: 80px;"
        />
        <div class="mb-2">
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
          <small class="fa fa-star text-secondary"></small>
        </div>
        <h5 class="mb-1">Samuel J.</h5>
        <p class="m-0">Statesville NC</p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

<style>
  @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
  h1 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: 50px;
  }
</style>
