<!-- Topbar Start -->
<div class="container-fluid bg-light text-black d-none d-lg-block">
  <div class="row align-items-center top-bar">
    <div class="col-lg-3 col-md-12 text-center text-lg-start">
      <a href="" class="navbar-brand m-0 p-0">
        <img
          class="pt-2"
          width="380px"
          src="/assets/img/dark-logo.png"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-9 col-md-12 text-end">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <i class="fa fa-map-marker-alt text-primary me-2"></i>
        <p class="m-0" style="font-size:16px; font-weight:600 ;">
          1515 Spruce Lane Denver, NC 28037
        </p>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <i class="fa fa-envelope-open text-primary me-2"></i>
        <p class="m-0" style="font-size:16px; font-weight:600 ;">
          <a href="mailto:frankie@prestigeworldwidelimos.com">Email</a>
        </p>
      </div>
      <div class="h-100 d-inline-flex align-items-center">
        <a class="btn btn-sm-square bg-white text-primary me-1" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-sm-square bg-white text-primary me-1" href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-sm-square bg-white text-primary me-1" href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-sm-square bg-white text-primary me-0" href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->
